html
{
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
    scroll-snap-points-y: repeat(3rem);
    scroll-snap-type: y proximity;
}

body
{
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

section
{
    scroll-snap-align: start;
    padding-bottom: 5%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

h1 /*headings*/
{
    font-family: fatfrank, sans-serif;
    font-style: normal;
    font-weight: 400;   
    letter-spacing: -0.01em;
    font-size: 5vw;
}

h2 /*subheading*/
{
    font-family: forma-djr-deck, sans-serif;
    font-style: normal;
    font-weight: 700;
}

h3 /*subheading*/
{
    font-family: forma-djr-deck, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}


p /*body texts*/
{
    font-family: forma-djr-deck, sans-serif;
    font-style: normal;
    font-weight: 500;
}

a:any-link
{
    font-family: forma-djr-deck, sans-serif;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}


.bg-container-top
{
    width: 100%;
    height: 100vh;
    position: relative;
}

.container
{
    width: 100%;
    margin: 0 auto; /*centers container*/
    max-width: 1600px; /*control max width for larger screens*/
    display: flex;
    justify-content: center;
    align-items: flex-center;
}

#navbar
{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 97%;
    height: 12%;
    transition: 0.09s;
    background-color: white;
    color:#FF5200;
    border-bottom: 0.5px solid  #FF5200;
    border-radius: 0px 0px 20px 20px;
    padding: 1% 2% 0% 1%;
    z-index: 5;
   
}

/* .navshape
{
    position: fixed;
    top: -10vh;
    left: -2vw;
    width: 108vw;
    z-index: -1;
} */

#navlinks
{
    align-self: flex-end;
    font-size: 1.3vw;
    position: relative;
    top: -45%;
    right: 5%;
    transition: 0.2s;
    color: #FF5200;
}

.navlink
{
    padding-left: 1vw;
}

.home-container
{
    width: 94%;
    margin: 0 auto; /*centers container*/
    max-width: 1600px; /*control max width for larger screens*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.hero
{
    object-fit: cover;
    height: 95vh;
    width: auto;
    max-width: 96%;
    border-radius: 0px 0px 40px 40px;
    transform: scaleX(-1);
    align-self: center;
    /* margin-left: 20px; */
    z-index: 1;
}

.tagline-container
{
    width: 20%;
    /* margin-left: 20px; */
    align-self: flex-end;
    justify-self: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.secondary
{
    object-fit: cover;
    width:  45vw;
    height: 75vh;
    border-radius: 40px;
    align-self: flex-center;
    position: relative;
    left: 2vw;
    right: 2vw;
}

#logo
{
    height: 75%;
    width: auto;
    align-self: flex-start;
    filter: hue-rotate(0);
    transition: 0.2s;
}



#secondary-container
{
    width: 40vw;
}

.subtitle-contain
{
    display: flex;
    flex-direction: column;
}

.subtitle
{
    align-self: center;
    line-height: 2;
    font-size: 13px;
    text-align: justify;
    text-justify: inter-word;
}


/* .diagonal
{
    width: 120%;
    position:relative;
    bottom: -1vh;
    left: -5%;
    display: none;
    
} */

.diagonal
{
    display: none;
}

#home
{
    background-color: #FF5200;
    color: white;
    width: 100%;
    margin-bottom: none;

}
#about
{
    background-color: #FF5200;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.about-container
{
    width: 90%;
    height: 40%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 8%;
    margin-top: 8%;
}

.about-elem
{
    display: flex;
    flex-direction: column;
}

.about-img
{
    width: 40%;
    height: auto;
    align-self: center;
    padding: 10%;
    margin-bottom: 10%;
    background: white;
    border-radius: 20px;
}

#covid, #vendor
{
    background-color: #0083FF;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.about-secondary
{
    width: 60%;
    margin: 0 auto; 
    display: grid;
    grid-template-columns: 1.25fr 4fr;
    grid-gap: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.secondary-img
{
    margin: 0 auto;
    margin-top: 10%; 
    width: 100%;
    height: auto;
    padding: 10%;
    background: white;
    border-radius: 20px;
}

#our-partners
{
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 22.4vh;
}

#testimonials
{
    background-color: #0083FF;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

#signup
{
    background-color: white;
    color: #FF5200;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

#contact
{
    margin-top: 15%;
    background-color: #f4356f;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.contact-info
{
    width: 50%;
    margin: 0 auto; 
    padding: 2.5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20%;
    line-height: 3;
    font-size: 20px;
}

.contact-img
{
    margin: 0 auto;
    margin-top: 10%; 
    width: 100%;
    height: auto;
    padding: 10%;
    background: white;
    border-radius: 20px;
}

.contact-box
{
    margin: 0 auto;
    width: 30%;
    height: 10%;
    border-radius: 20px;
    background: white;
    padding: 2.5%;
    color:#f4356f;
    line-height: 2;
    text-align: center;  

}

.center
{
    align-self: center;
    text-align: center;
    margin: 0 auto;
}

.p-image /* partner img, must change for mobile*/
{
    background-color: grey;
    border-radius: 20px;
}

.p-container
{
    display: grid;
    width: 40vw;
    height: 40vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2.5vw;
    margin-bottom: 2.5vw;

}


#arrow
{
    align-self: center;
    width: 3.5vw;
    object-fit: cover;
    padding-bottom:2vh;
}

.aside
{
    margin-top: 5%;
    width:  100%;
    text-align: center;
}

.loginsignup {
    width: 40%;
    display: inline-block;
    background-color: #ffffff;
    color: #0083FF;
    padding: 20px 20px;
    margin: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    font-family: forma-djr-deck, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    }

input[type=checkbox]
{
    margin-bottom: 4%; /* Bottom margin */
}
input[type=text], select, textarea {
width: 100%; /* Full width */
padding: 12px; /* Some padding */ 
border: 1px solid #ccc; /* Gray border */
border-radius: 4px; /* Rounded borders */
box-sizing: border-box; /* Make sure that padding and width stays in place */
margin-top: 6px; /* Add a top margin */
margin-bottom: 4%; /* Bottom margin */
resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
background-color: #FF5200;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer; 
font-family: forma-djr-deck, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
}


.form-container {
width: 50%;
margin: 0 auto;
 border-radius: 5px;
 background-color: white;
 padding: 20px;
 
}

.reveal-if-active {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transform: scale(0.8);
    transition: 0.5s;
}

input[type="checkbox"]:checked ~ .reveal-if-active {
    opacity: 1;
    max-height: 200px;
    overflow: visible;
    padding: 10px 20px;
    transform: scale(1);
}

label {
    font-family: forma-djr-deck, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.visible
{
    opacity: 1;
    max-height: 200px;
    overflow: visible;
    padding: 10px 20px;
    transform: scale(1);
}




/*media  queries*/
@media only screen and (max-width: 900px) { /*ipad*/

    #about, #signup, #contact, #covid
    {
        /* padding-top: 10%; */
        padding-bottom: 10%;
        height: 100%;
    }

    #contact
    {
        align-items: center;
        text-align: center;
    }

    .contact-img
    {
        margin: 0;
    }

    body
    {
        width: 100%;
    }
    #navbar
    {
        height: 12%;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3%;
        padding-bottom: 1%;
    }

    #logo
    {
        align-self: center;
    }

    #home
    {
        width:100vw;
        margin: 0;
        padding: 0;
    }

    .container
    {
        margin 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .home-container
    {
        margin 0 auto;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: none;
    }

    .contact-box
    {
        width: 75%;
    }

    .hero
    {
        width: 92%;
        height: 85%;
        border-radius: 20px;
        position: absolute;
        left: 4%;
        padding: 0;
        margin: 0;
        align-self: center;
        
    }

    .tagline-container
    {
        align-self: center;
        width: 90vw;
        height: 30vh;
        padding-top: 0;
        padding-bottom: 25vh;
        text-shadow: 10px 10px 30px black;

    }

    #about
    {
        margin-top: 0;
        padding-top: 0;
    }

    h1
    {
        font-size: 8vh;
        text-align: center;
    }

    #arrow
    {
        width: 8vh;
        filter: drop-shadow(10px 10px 30px black);
    }

    #navlinks
    {
        display: none;
    }



    .subtitle-contain
    {
        padding-top: 5vh;
    }

    .about-container
    {
        width: 90%;
        grid-template-columns: 1fr; 
        grid-gap: 5%;
    }

    .about-elem
    {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 12%;
    }

    .about-img{
        width: 100%;
        height: auto;
    }

    .about-secondary
    {
        margin-top: 10%;
        margin-bottom: 10%;
        grid-template-columns: 1fr;
        grid-gap: 12%;
        width: 80%;
    }

    .contact-info
    {
        margin 0 auto;
        grid-template-columns: 1fr;
        grid-gap: 12%;
        width: 80%;
        font-size: 16px;
    }

    .contact-img{
        width: 40%;
        height: auto;
    }

    .secondary-img
    {
        width: 50%;
        margin: 0 auto;
    }

    

}

@media only screen and (max-width: 500px) { /*phones*/

    
    .about-container
    {
        grid-template-columns: 1fr; 
        margin-bottom: 30%;
        grid-gap: 5%;
    }

    .about-elem
    {
        display: flex;
        flex-direction: column;
    }

    .about-img
    {
        width: 40%;
        height: auto;
    }

    .form-container
    {
        width: 90%;
    }

    .loginsignup
    {
        width: 70%;
    }

    h1
    {
        font-size: 8vh;
    }
}


@media only screen and (max-width: 400px) { /*phones*/

    .tagline-container
    {
            padding-bottom: 35vh;
    }

    #signup
    {
        width: 96%;
        margin-left:2%;
        margin-right: 2%;
    }

    h1
    {
        font-size: 7vh;
    }

    .hero
    {
        height: 88%;
    }
}

